<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Christian' Tutorial Counter</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="js/app.js" defer></script>
</head>
<body>
<header>
  <h1>Number of vue tutorials</h1>
</header>
<section id="events">
  <h2>Number of Tutorials</h2>
  <button @click="add(10)">Add 10</button>
  <button @click="reduce(5)">Subtract 5</button>
  <p>Result: {{ counter }}</p>
<!--  Example of two way binding-->
  <input type="text" :vaule="..."v-model="name">
  <input type="text" v-model="lastName">
  <button v-on:click="resetInput">Reset Input</button>
  <p>Your Name: {{ fullname}}</p>
</section>
</body>
</html>
